html
  head
    title= title
    
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    
    script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
  
  body
    main.container  
      h1= mainTitle
      if message
        p= message
      
      div#sandbox
        form#chat-form
          div.form-group
            label(for='chat') Chat:
            input#chat.form-control(type='text' placeholder='Say something here...' name='chat')
          button.btn.btn-primary(type='submit') Send
        
        div#bot-response
          ul.list-group
            li.list-group-item.text-muted#source
            li.list-group-item#message(style='white-space: pre-wrap;')
      
      
    script
      include dashboard.js
