extends layout

append css
    link(rel="stylesheet", href="/dashboard/static/monitor.css")

block supercontent
  main.container-fluid

    .text-center.mt-5
        h3 Monitoring Brain
        img(src="/dashboard/static/imgs/wip.svg" height="400" width="400")
        h3 Coming soon
            

  script
    include ../public/js/monitor.js