nav.navbar.navbar-expand-sm.navbar-light.bg-light
  a.navbar-brand(href="/dashboard") Bot dashboard
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item(class=(nav_link === "nav-portal" ? "active" : null))
        a.nav-link(href="/dashboard") Portail
          span.sr-only (current)
      li.nav-item(class=(nav_link === "nav-skills" ? "active" : null))
        a.nav-link(href="/dashboard/skills") Skills
    span.navbar-text
      i.fas.fa-sign-out-alt.disconnect(style="font-size: 1.5rem;" title="Log out" aria-label="Log out" aria-hidden="true" onClick="logout()")
